data_factory/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "project0001datafactory"
        },
        "AzureDataLakeStorage1_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
        },
        "AzureSqlDatabaseLinkedService_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseLinkedService'",
            "defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=project0001sqlserver.database.windows.net;Initial Catalog=project0001sqldb;User ID=sqladmin"
        },
        "CopyDataToSQLTrigger_properties_CopyDataToSQLDB_parameters_sourceFile": {
            "type": "string",
            "defaultValue": "@triggerBody().fileName"
        },
        "CopyDataToSQLTrigger_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/8036720e-da7a-4143-9554-7ccb580e6875/resourceGroups/project-001-smart-vehicles/providers/Microsoft.Storage/storageAccounts/project0001datalake"
        },
        "AzureDataLakeStorage1_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://project0001datalake.dfs.core.windows.net/"
        },
        "AzureKeyVault1_properties_typeProperties_baseUrl": {
            "type": "string",
            "defaultValue": "https://project0001keyvault.vault.azure.net/"
        },
        "AmazonS31_properties_typeProperties_accessKeyId": {
            "type": "object",
            "defaultValue": {
                "type": "AzureKeyVaultSecret",
                "store": {
                    "referenceName": "AzureKeyVault1",
                    "type": "LinkedServiceReference"
                },
                "secretName": "s3accesskey"
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/CopyDataToSQLTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "CopyDataToSQLDB",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "sourceFile": "[parameters('CopyDataToSQLTrigger_properties_CopyDataToSQLDB_parameters_sourceFile')]"
                        }
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/input/blobs/staging/",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('CopyDataToSQLTrigger_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/CopyDataToSQLDB')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/S3FileEODTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "CopyS3Data",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2023-10-14T05:08:00",
                        "timeZone": "Eastern Standard Time",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                0
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/CopyS3Data')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDataLakeStorage1_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AmazonS31')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AmazonS3",
                "typeProperties": {
                    "serviceUrl": "https://s3.amazonaws.com",
                    "accessKeyId": "[parameters('AmazonS31_properties_typeProperties_accessKeyId')]",
                    "secretAccessKey": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault1",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "s3secretkey"
                    },
                    "authenticationType": "AccessKey"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": "[parameters('AzureSqlDatabaseLinkedService_connectionString')]",
                    "password": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault1",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "project0001SQLDBKey"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CopyS3Data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "CopyS3Data",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AmazonS3ReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*.json",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "s3_JSON_Dataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "folderPath": {
                                        "value": "@concat(formatDateTime(addDays(utcnow(), -1), 'yyyy'), '/', formatDateTime(addDays(utcnow(), -1), 'MM'), '/', formatDateTime(addDays(utcnow(), -1), 'dd'), '/') ",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "datalake_sink",
                                "type": "DatasetReference",
                                "parameters": {
                                    "landingFolder": {
                                        "value": "@concat('landing/', formatDateTime(addDays(utcnow(), -1), 'yyyy'), '/', formatDateTime(addDays(utcnow(), -1), 'MM'), '/', formatDateTime(addDays(utcnow(), -1), 'dd'), '/') ",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-10-14T16:40:19Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/s3_JSON_Dataset')]",
                "[concat(variables('factoryId'), '/datasets/datalake_sink')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CopyDataToSQLDB')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "CopyDataToSQLDB",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "LookupJSONFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "Valid_json_dataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "sourceFile": "@pipeline().parameters.sourceFile"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlTable1",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "LookupJSONFile",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "Valid_json_dataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "sourceFile": "@pipeline().parameters.sourceFile"
                                }
                            }
                        }
                    },
                    {
                        "name": "DeleteJSONFile",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "CopyDataToSQLDB",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "Valid_json_dataset",
                                "type": "DatasetReference",
                                "parameters": {
                                    "sourceFile": "@pipeline().parameters.sourceFile"
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "JSONLookupFailed",
                        "type": "Fail",
                        "dependsOn": [
                            {
                                "activity": "LookupJSONFile",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "message": "JSON Lookup Failed - Check if 2nd pipeline run for same trigger.",
                            "errorCode": "404"
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "sourceFile": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2023-10-14T05:03:16Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/Valid_json_dataset')]",
                "[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/datalake_sink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage1",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "landingFolder": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@dataset().landingFolder",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/s3_JSON_Dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AmazonS31",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "folderPath": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AmazonS3Location",
                        "bucketName": "iotdata-001",
                        "folderPath": {
                            "value": "@dataset().folderPath",
                            "type": "Expression"
                        }
                    }
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "VehicleID": {
                            "type": "string"
                        },
                        "latitiude": {
                            "type": "number"
                        },
                        "longitude": {
                            "type": "number"
                        },
                        "City": {
                            "type": "string"
                        },
                        "temeprature": {
                            "type": "integer"
                        },
                        "speed": {
                            "type": "integer"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AmazonS31')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Valid_json_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage1",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "sourceFile": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.sourceFile"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().sourceFile",
                            "type": "Expression"
                        },
                        "folderPath": "staging",
                        "fileSystem": "input"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabaseLinkedService",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "vehicle_id",
                        "type": "nvarchar"
                    },
                    {
                        "name": "latitude",
                        "type": "decimal",
                        "precision": 18,
                        "scale": 0
                    },
                    {
                        "name": "longitude",
                        "type": "decimal",
                        "precision": 18,
                        "scale": 0
                    },
                    {
                        "name": "city",
                        "type": "nvarchar"
                    },
                    {
                        "name": "temperature",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "speed",
                        "type": "int",
                        "precision": 10
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "VehicleData1"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedService')]"
            ]
        }
    ]
}